
  <div class="col-md-4 col-md-offset-4 article_post modal-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <h1 class="form-signin-heading text-center">Log in</h1>
      
      <%= devise_error_messages! %>
      <%= render 'layouts/error' %>
      
      <hr>
      <div class="form-group">
        <%= f.label :email, class: 'control-label'%><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: 'control-label'%><br />
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: 'control-label'%>
        </div>
      <% end -%>

      <div class="row actions ">
        <div class="col-md-6 col-md-offset-0 actions">
        <%= f.submit "Log in", class: 'btn btn-large btn-block btn-success' %>
      </div>
          <% end %>
        <div class="col-md-6 col-md-offset-0">
          <%= link_to "Sign up", new_registration_path(resource_name), {:class=> 'btn btn-large btn-block btn-default'}%>
        </div>
      </div>
      <hr>
    <%= render "layouts/links" %>
  </div>
