<div class="col-md-4 col-md-offset-4 well">
<h2 class="text-center">Resend confirmation instructions</h2>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
  <%= render 'layouts/error' %>
<hr>
  <div class="form-group">
    <%= f.label :email, class: 'control-label' %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit "Resend confirmation instructions", class: 'btn btn-large btn-block btn-success' %>
  </div>
  <hr>
<% end %>
<h4 class="text-center">Or</h4>
<div class="row actions ">
        <div class="col-md-6 col-md-offset-0 actions">
        <%= link_to "Log in", new_session_path(resource_name), {:class=> 'btn btn-large btn-block btn-default'}%>
      </div>
        <div class="col-md-6 col-md-offset-0">
          <%= link_to "Sign up", new_registration_path(resource_name), {:class=> 'btn btn-large btn-block btn-default'}%>
        </div>
      </div>
      <hr>
<%= render "users/shared/links" %>
</div>
