<%= form_for @article do |f| %>
  <div class="form-group">
    <%= f.label :title, class: 'control-label' %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :body, class: 'control-label' %>
    <%= f.cktext_area :body, rows: 10, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'Full'} %>
  </div>
  <div class="form-group">
    <%= f.label :tag_list, "Tags (separated by commas)", class: 'control-label' %><br />
  <%= f.text_field :tag_list, class: 'form-control'%>
</div>
  <div class="actions">
    <%= f.submit 'Save', class: 'btn btn-success' %>
  </div>
<% end %>