<header class="navbar navbar-fixed-top navbar-default">

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav ">
        <li><strong><%= link_to "Edumax", {:controller => '/home', :action => 'index'}, class: 'navbar-brand logo_link' %></strong></li>
        <li class="divider-vertical"></li>
        <li><%= link_to "News", {:controller => '/news', :action => 'index'}%></li>
        <li><%= link_to "Blog", {:controller => '/articles', :action => 'index'}%></li>
        <li><%= link_to "Admin", {:controller => '/admin', :action => 'advanced'}%></li>
        <li><%= link_to "Courses", courses_path%></li>
        <li class="divider-vertical"></li>
        <% if user_signed_in? %>
        <%if current_user.admin? %>
        <li><%= link_to "Admin", '#'%></li>
        <% else
         end%>
         <%end%>
      </ul>
        <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
        
        <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <%= image_tag current_user.image(:small), {class: 'circular-small'} %> <%= current_user.first_name %>

       <b class="caret"></b></a>
        <ul class="dropdown-menu">
          
          <li><%= link_to('Profile', edit_user_registration_path) %></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><%= link_to "Log out", destroy_user_session_path, method: :delete%></li>
        </ul>
      </li>

      <% else
         end%>
      </ul>
    </div>
</header>