<div class="sidepanel text-center" , id='sticker'>
    <br>
    <%= image_tag current_user.image.url(:med), {class: " circular-med"} %>
    <div class='panels_item'>
        <b><%= current_user.first_name %>
        <%= current_user.last_name %></b>
    </div>
    <div class='panels_item', style='color:#bbb;'><%= get_rank(current_user) %></div>
    <%= link_to "New Article", new_article_path, class: 'brand' %>
    <div class='text-left panels_item panel_heading'>Most recent posts:</div>
    <div class='text-left panels_item panel_body'>
        <% @recent.each do |r| %>
            <small><%= r.title %></small>
            <% if r != @recent.last %>
                <br />
            <% end %>
        <%end%>
    </div>
    <div class='text-left panels_item panel_heading'>Tags:</div>
    <div id="tag_cloud", class="text-center panels_item panel_body">
        <% tag_cloud Article.tag_counts, %w{s m l} do |tag, css_class| %>
            <%= link_to tag.name, { :action => :tag, :tag => tag.name }, class: (css_class + ' '+'label label-info')%>
        <% end %>
    </div>
</div>
