  <!-- Alert in case user changed email and didn't confirm -->
    <div class="alert alert-dismissible alert-info">Currently waiting confirmation for: <%= resource.unconfirmed_email %>
    <button type="button" class="close" data-dismiss="alert">×</button></div>