<h1>Welcome <%= current_user.first_name%> </h1>
<%= link_to "Basic", {:action => 'basic'}%>
<ul class="nav nav-tabs">
  <% @DB.each do |name, table|%>
     <li><a href=<%="##{name.downcase}"%> data-toggle="tab" aria-expanded="true"><%= name %></a></li>
   <% end %>
</ul>
<div id="myTabContent" class="tab-content">
<% @DB.each do |name, table|%>
  <div class="tab-pane fade" id=<%="#{name.downcase}"%>>
    <table class="table table-striped"> 
        <thead>
            <tr>
                <th class = "dbTable">Action</th>
            <% table.columns.each do |column| %>
                <th class = "dbTable"><%= column.name %></th>
            <%end%>
        </tr>
    </thead>
    <tbody>
        <% table.all.each do |user| %>
        <tr>
            <td><%= link_to "Show", {:controller => '/admin', :action => 'show', :id => user.id, :tb => name}%></td>
            <% table.columns.each do |column| %>
                <td class = "dbTable"><%= user[column.name] %></td> 
            <% end %>
        </tr>
        <%end%>
    </tbody>
    </table>
  </div>
  <% end %>
</div>