<h1>Welcome <%= current_user.first_name%> </h1>
<%= form_tag("new_email", method: "get") do %>
    <div class = "row">
        <div class="col-md-2 text-center">
                <div class="list-group">
                    <%= link_to "Advanced", {:controller => 'home', :action => 'admin_advanced'}, :class => "list-group-item text-center"%>
                <%= link_to "Send Email", {:controller => 'user_email', :action => 'new', :id => 1}, :class => "list-group-item text-center"%>
                <%= submit_tag("Email", :class => "list-group-item text-center") %>
            </div>
        </div>
        <div class="col-md-10">
            <div class="panel panel-primary">
                    <div class="panel-heading">
                    <h3 class="panel-title">Central View of Users</h3>
                    </div>
                <div class="panel-body">
                    <table class="table table-striped dataTable" summary="User list">
                        <thead>
                            <tr>
                                <th>Admin</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Age</th>
                                <th>Phone Number</th>
                                <th>Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @users.each do |user| %>
                            <tr>
                                <% if user.admin == 1 %>
                                    <td> <input type="checkbox" value="admin" checked/></td>
                                <%else%>
                                    <td> <input type="checkbox" value="admin"/></td>
                                <%end%>

                                <td><%= user.first_name %></td>
                                <td><%= user.email %></td>
                                <td><%= calculate_age(user.birthday) %></td>
                                <td><%= number_to_phone(user.telephone) %></td> 
                                <td><%= check_box_tag "user_ids[]", user.id %></td>
                            </tr>
                            <%end%>
                        </tbody>
                    </table>
                    <div class="text-center"><%= paginate @users, :theme => 'twitter-bootstrap-3' %></div>
                </div>
            </div>
        </div>
    </div>
    <%end%>

    <script type="text/javascript">$(document).ready(function() {$('.dataTable').DataTable({paging: false, "info":     false});});</script> 