<h1>From <%= current_user.email%></h1>


 <div class="well col-md-10 col-md-offset-1">
 <%= form_for(:user_email, :url => {:action => 'send_email', :user_ids => @recipients}) do |f| %>
    <%= f.text_field(:subject, class: 'form-control')%>
    <%= f.cktext_area :content, rows: 10, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'Full'} %>
    <%= f.button "Submit", type: 'submit', class: 'btn col-md-4 col-md-offset-4 btn-large btn-success' %>
<% end %>
</div>
