<%= form_for @course, :html => { :multipart => true } do |f| %>
  <div class="form-group">
    <%= f.label :title, class: 'control-label'  %><br>
    <%= f.text_field :title, class: 'form-control'  %>
  </div>
  <div class="form-group">
    <%= f.label :description, class: 'control-label'  %><br>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :content, class: 'control-label'  %><br>
    <%= f.cktext_area :content, rows: 10, :ckeditor => {:uiColor => '#AADC6E', :toolbar => 'Full'} %>
  </div>
 

  <div class="actions">
    <label for = 'file-upload', class='btn btn-large btn-info'>
  <span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload Picture
   <%= f.file_field :photo, id: "file-upload"%>
 </label>
    <%= f.submit 'Submit', class: 'btn btn-large  btn-success' %>
  </div>

<% end %>
