
<h1>Courses#index</h1>
<%= link_to "New Course", {:controller => 'courses', :action => 'new'}%>

<% _count = 0 %>
<div class ="container">
  <% @courses.each do |course| %>
    <% if _count%3==0 %>
      <div class="row">
    <%end%>    
    <div class="col-md-4">
      <div class='course-card'>
        <div class=" text-center course-inner-card">
          <br>
          <%= image_tag course.photo.url(:large) %>
          <div class="text-center ">
            <h3><%= course.title %></h3>
            <div class="text-justify course-description modal-body"><%= truncate(course.description, :length => 200)%></div>
            <p><%= link_to 'Details', {:controller => '/courses', :action => 'show', :id => course.id}, {class: 'btn btn-primary'}%><a href="#" class="btn btn-success" role="button">Enroll</a></p>

            <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
            
          </div>
          
        </div>

      </div>
      <br>
    </div>
    <% if _count%3==2 %>
      </div>
      
    <%end%>  
    <% _count = _count+1 %>
  <%end%>
</div>
