  <div class="col-md-8 col-md-offset-2">
        <div class='row'>

            <div class="col-md-10 col-md-offset-1">
        <%= render "layouts/error" %>
        <div class='article_post modal-body'>
    
<h1>New course</h1>

<%= render 'form' %>

<%= link_to 'Back', courses_path %>
        </div>
    </div>
                </div>
        </div>
    </div>  