<div class="col-md-8 col-md-offset-2">
        <div class='row'>
            <div class="col-md-10 col-md-offset-1">
                
                <h1 style='color:#22aaaa;'><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Show course</h1>
                <%= render 'layouts/error' %>
            </br>
                    <div class='article_post'>
                        <div class='modal-body wordwrap'>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<%= image_tag @course.photo.url(:large) %>
<p>  <%= @course.description %></p>
<hr>
<p>
  <strong>Content:</strong>
  <%= @course.content.html_safe %>
</p>



<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

                        </div>
                    </div>
            </div>
        </div>
    </div>  
