<div class="col-md-8 col-md-offset-2 well">
  <h2 class="form-signin-heading text-center">Edit Profile</h2>
  
  <!-- Alert messages -->
  <% if !(devise_mapping.confirmable? && resource.pending_reconfirmation?) %>
    <%= devise_error_messages! %>
    <%= render 'layouts/error' %>
  <%else%>
    <%= render 'layouts/user_email_changed_alert' %>
  <%end%>

  <hr>

  <div class="row">
    <div class="col-md-4">
      <!-- Profile picture -->
      <%= image_tag current_user.image.url(:large), {class: "imagedropshadow"} %>
    </div>
    <div class="col-md-4">
      <!-- User name -->
      <h4>
        <%= current_user.first_name %>
        <%= current_user.last_name %>
        <!-- Edit name modal button -->
        <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#edit_name">
          Edit
        </button>
      </h4>

      <p> Member since: <em class="text-warning">
        <%= current_user.created_at.strftime("%B #{current_user.created_at.day.ordinalize}, %Y") %>
      </em></p>
      <p>Last seen: <em class="text-warning">
        <%= time_ago_in_words(current_user.last_sign_in_at)%> ago
      </em></p>
      
      <%= render 'layouts/EditUserFormHelpers/upload_image_button' %>

      <!-- Select from gallery modal button -->
      <button type="button" class="btn btn-block btn-large btn-success" data-toggle="modal" data-target="#image_select"><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Select from gallery</button>

    </div>
    <div class="col-md-4">
      <h4>Basic Info
        <!-- Edit info modal button -->
        <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#edit_info">
          Edit
        </button>
      </h4>
      <p> Email: <em class="text-success"><%= current_user.email %></em>
      </p>
      <p> Birthday: <em class="text-default">
        <%= current_user.birthday.strftime("%B #{current_user.birthday.day.ordinalize}, %Y") %>
      </em></p>
      <p>Phone: <em class="text-default">
        <%= current_user.telephone %>
      </em></p>
      <p>Address: <em class="text-default">
        <%= current_user.address %>
      </em></p>
      <!-- Edit password modal button -->
      <button type="button" class="btn btn-large btn-block btn-warning" data-toggle="modal" data-target="#edit_password"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Change Password</button>
    </div>
  </div>

  <hr>

  <!-- Rest of modals -->
   <%= render 'layouts/EditUserFormHelpers/edit_info_modal' %>
   <%= render 'layouts/EditUserFormHelpers/edit_name_modal' %>
   <%= render 'layouts/EditUserFormHelpers/edit_password_modal' %>
   <%= render 'layouts/EditUserFormHelpers/select_image_modal' %>

</div>