<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <div class="col-md-8 col-md-offset-2 well">

      <div class='row'>
        <h1 class="form-signin-heading text-center">Sign Up</h1>

        <%= devise_error_messages! %>
        <%= render 'layouts/error' %>

        <hr>

        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :email, class: 'control-label' %><br />
            <%= f.email_field :email, autofocus: true, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password, class: 'control-label' %>
            <% if @validatable %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %><br />
            <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, class: 'control-label' %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :telephone, class: 'control-label' %><br />
            <%= f.telephone_field :telephone, class: 'form-control'%>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :first_name, class: 'control-label' %><br />
            <%= f.text_field :first_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :last_name, class: 'control-label' %><br />
            <%= f.text_field :last_name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :address, class: 'control-label' %><br />
            <%= f.text_field :address, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :birthday, class: 'control-label' %><br />
            <%= f.date_select :birthday, {:start_year=>1900}, {class: 'form-control-date'}  %>
          </div>
        </div>
      </div>

      <hr>

      <div class='row text-center'>
        <div class="col-md-4 col-md-offset-1 actions">
          <%= link_to "Log in", new_session_path(resource_name), {:class=> 'btn btn-large btn-block btn-default'}%>
        </div>

        <div class="col-md-4 col-md-offset-2">
          <%= f.submit "Sign up", class: 'btn btn-large btn-block btn-success' %>
        </div>
      </div>
      <% end %>
    </div>
