  <!-- Edit Info Modal -->
  <div class="modal" id="edit_info">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put }) do |f| %> 
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Edit basic info</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label :birthday, class: 'control-label' %><br />
              <%= f.date_select :birthday, {:start_year=>1900}, {class: 'form-control-date'}  %>
            </div>  
            <div class="form-group">
              <%= f.label :email, "Change Email", class: 'control-label' %><br />
              <%= f.email_field :email, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :telephone, class: 'control-label' %><br />
              <%= f.telephone_field :telephone, class: 'form-control'%>
            </div>
            <div class="form-group">
              <%= f.label :address, class: 'control-label' %><br />
              <%= f.text_field :address, class: 'form-control' %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Save", class: 'btn btn-success'  %>
          </div>
        </div>
      </div>
    <%end%>
  </div>   