<!-- Edit Password Modal -->
  <div class="modal" id="edit_password">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put }) do |f| %> 
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Edit Password</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label :password, "Change Password", class: 'control-label' %> 
              <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :password_confirmation, "New Password Confirmation", class: 'control-label' %><br />
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :current_password, "Current Password", class: 'control-label' %><br />
              <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Save", class: 'btn btn-success'  %>
          </div>
        </div>
      </div>
    <%end%>
  </div>    