<!-- Edit Name Modal -->
  <div class="modal" id="edit_name">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put }) do |f| %> 
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Edit Name</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <%= f.label :first_name, "First name", class: 'control-label' %> 
              <%= f.text_field :first_name, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :last_name, "Last name", class: 'control-label' %><br />
              <%= f.text_field :last_name, class: 'form-control' %>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Save", class: 'btn btn-success'  %>
          </div>
        </div>
      </div>
    <%end%>
  </div>    