  <!-- Create the imagepicker array -->
  <% img_paths = Array.new %>
  <% @images.each do |image| %>
  <%img_paths.push([
    '',
    "/assets/images/users/#{current_user.id}/original/#{image.split('/').last}",
    {'data-img-src'=>"/assets/images/users/#{current_user.id}/med/#{image.split('/').last}"}
    ])%>
  <% end %>
  <!-- Select from gallery modal -->
  <div class="modal" id="image_select">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {method: :put }) do |f| %> 
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">My profile pictures</h4>
          </div>
          <div class="modal-body med_pic_select">
              <%=f.select(:image_file_path, options_for_select(img_paths), {}, {class: 'image-picker'})%> 
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <%= f.submit "Select", class: 'btn btn-success'  %>
          </div>
        </div>
      </div>
    <%end%>
  </div>

<script type="text/javascript">$('select.image-picker').imagepicker()</script>

