<%= form_for(@news) do |f| %>

  <div class="form-group">
    <%= f.label :content, class: 'control-label' %><br>
    <%= f.text_field :content, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.check_box :sticky %>
    <%= f.label :sticky, class: 'control-label' %>
    
  </div>
  <div class="actions">
    <%= f.submit "Save", class: 'btn btn-success'%>
  </div>
<% end %>
