
    <div class="col-md-9 col-md-offset-3">
        <div class='row'>
            <div class="col-md-10 col-md-offset-1">
                
                <h1 style='color:#22aaaa;'><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Edumax News</h1>
                
                <%= render 'layouts/error' %>
            </br>
                <% @news.each do |neww| %>
                    <div class='article_post'>
                        <div class='modal-body wordwrap'>
                            <%= image_tag @users.find(neww.author).image.url(:smallish), {class: " circular-smallish"} %>
                            <%= neww.content %>
                           <br>

                             <small class="text-muted">Posted on: <%=neww.created_at.strftime("%B #{current_user.created_at.day.ordinalize}, %Y")%>| by <%= @users.find(neww.author).first_name%>
                                <%= @users.find(neww.author).last_name%>
                            </small>
                           
                            
                            <%= link_to "Edit", edit_news_path(neww) %> |
                             <%= link_to "Delete", {:controller => '/news', :action => "delete", :id => neww.id} %>|
                              <%= link_to 'View', {:controller => '/news', :action =>'show', :id => neww.id} %>

                        </div>
                    </div>
                    <% if neww != @news.last %>
                    <br />
                    <% end %>
                    
                <% end %>
                <div class="text-center"><%= paginate @news, :theme => 'twitter-bootstrap-3' %></div>
            </div>
        </div>
    </div>  

<div class="sidepanel text-center" , id='sticker'>
    <br>
    <%= image_tag current_user.image.url(:med), {class: " circular-med"} %>
    <div class='panels_item'>
        <b><%= current_user.first_name %>
        <%= current_user.last_name %></b>
    </div>
    <div class='panels_item', style='color:#bbb;'><%= get_rank(current_user) %></div>
    <%= link_to "Add Post", {:controller => '/news', :action =>'new'}, class: 'brand' %>
</div>