    <div class="col-md-9 col-md-offset-3">
        <div class='row'>

            <div class="col-md-10 col-md-offset-1">
        <%= render "layouts/error" %>
        <div class='article_post'>
<h1>New news</h1>

<%= render 'form' %>

        </div>
    </div>
                </div>
        </div>
    </div>  
