
<div class="col-md-9 col-md-offset-3">
    <div class='row'>

        <div class="col-md-10 col-md-offset-1">
            <h1 style='color:#22aaaa;'><%= "Editing #{@article.title}" %></h1>
            <%= render "layouts/error" %>
            <div class='article_post'>
                <div class='modal-body'>
                
                <%= render "layouts/article_form" %>
            </div>
            </div>
            <br>
        </div>
    </div>
</div>


<%= render 'layouts/sidepanel'%>
