
    <div class="col-md-9 col-md-offset-3">
        <div class='row'>
            <div class="col-md-10 col-md-offset-1">
                
                <h1 style='color:#22aaaa;'><span class="glyphicon glyphicon-th-large" aria-hidden="true"></span> Edumax Blog</h1>
                <%= render 'layouts/error' %>
            </br>
                    <div class='article_post'>
                        <div class='modal-body wordwrap'>
                            <%= image_tag @users.find(@article.author).image.url(:smallish), {class: " circular-smallish"} %>
                            <h3><%= @article.title.html_safe %>  </h3>

                             <p class="text-muted"><small>Posted on: <%=@article.created_at.strftime("%B #{current_user.created_at.day.ordinalize}, %Y")%>| by <%= @users.find(@article.author).first_name%>
                                <%= @users.find(@article.author).last_name%>
                            </small><p>
                           
                            <p><%= @article.body.html_safe %></p>
                            <%= link_to "Edit", edit_article_path(@article) %> |
                             <%= link_to "Delete", {:controller => 'articles', :action => "delete", :id => @article.id} %>
                             <p>Tags: <%= raw @article.tag_list.map { |t| link_to t, { :action => :tag, :tag => t }, {class: 'label label-info'}}.join(' ') %></p>

                        </div>
                    </div>
            </div>
        </div>
    </div>  



<%= render 'layouts/sidepanel'%>