
<%= render 'layouts/error' %>
<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
<%= link_to "Log out", destroy_user_session_path, method: :delete%>
<%= link_to "My Account", edit_user_registration_path %>
<br>
<div class='col-md-4 col-md-offset-4 article_post'>
    <br>
                <% @news.each do |neww| %>
                    
                        <div class='wordwrap'>
                            <%= image_tag @users.find(neww.author).image.url(:smallish), {class: " circular-smallish"} %>
                            <%= neww.content %>
                           <br>

                             <small class="text-muted">Posted on: <%=neww.created_at.strftime("%B #{current_user.created_at.day.ordinalize}, %Y")%>| by <%= @users.find(neww.author).first_name%>
                                <%= @users.find(neww.author).last_name%>
                            </small>
                           
                            
                            <%= link_to "Edit", edit_news_path(neww) %> |
                             <%= link_to "Delete", {:controller => '/news', :action => "delete", :id => neww.id} %>|
                              <%= link_to 'View', {:controller => '/news', :action =>'show', :id => neww.id} %>

                        </div>
                    
                    <% if neww != @news.last %>
                    <hr />
                    <% else %>
                    <br>
                    <%end%>
                    
                <% end %>
</div>