//---------------------Bootswatch----------------

// Example using 'Cerulean' bootswatch
//
@import "bootstrap-sprockets";
// First import cerulean variables
@import "bootswatch/flatly/variables";

// Then bootstrap itself
@import "bootstrap";


// Bootstrap body padding for fixed navbar
body { 
	padding-top: 63px;
    // background-color: #f00;
    background-color: #F2F2F2;
	// background: image-url("photography.png") repeat; 
}

// And finally bootswatch style itself
@import "bootswatch/flatly/bootswatch";


//-----------------------Error Fields-------------------------
div.field_with_errors {
    display: inline;
}
.field_with_errors + .help-block,
.field_with_errors .control-label,
.field_with_errors .radio,
.field_with_errors .checkbox,
.field_with_errors .radio-inline,
.field_with_errors .checkbox-inline {
    color: #E68A00;
}
.field_with_errors .form-control {
    border-color: #E68A00;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
.field_with_errors .form-control:focus {
    border-color: #A16100;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #A16100;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #A16100;
}
.field_with_errors + .input-group-addon {
    color: #E68A00;
    background-color: #f2dede;
    border-color: #E68A00;
}
.field_with_errors + .form-control-feedback {
    color: #E68A00;
}

//------------------------Custom Date Select------------------------------

.form-control-date{
    @extend .form-control;
    width: 32%;
    display: inline-block;
}


//-----------------------Custom well---------------
.well hr{
    border: 0; border-top: 1px solid #ccc;
}

input[type="file"] {
    display: none;
}

.imagedropshadow { 
    padding: 5px;
    background-color: #fff;
    border: solid 1px #EFEFEF; 
    border: solid 1px #CCC;
}

.med_pic_select{
    height: 300px;
    overflow: scroll;
}

.article_post{
    background-color: #fefefe;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-color: #e3e3e3;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
    box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
}

.course-card{
    padding: 7px;
    margin: 0 auto;
    width: 90%;
    background-color: #fefefe;
    border-left: 1px solid;
    border-right: 1px solid;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-color: #e3e3e3;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
    -moz-box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
    box-shadow: 0px 1px 1px 0px rgba(196,196,196,1);
}

.course-inner-card{
    background-color: #fafafa;
    border-radius: 20px;
    border: 1px solid;
    border-color: #f2f2f2;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;

}


.row{
    overflow: hidden;
}

.sidepanel{
    position: absolute;
    top: 63px;
    left: 0px;
    // background-color: #1C171E;
    background-color: #272B30;
    width: 25%;
    min-height: -moz-calc(100% - 63px);
    min-height: -webkit-calc(100% - 63px);
    min-height: calc(100% - 63px);
    color: #fdfdfd;
}

.wordwrap{
    word-wrap: break-word;
}

.circular-large{
    background-color: #000; 
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.circular-smallish{
    background-color: #000; 
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    border: 1px solid #aaa;
}

.f_right{
    float: right;
}


.circular-med{
    background-color: #000; 
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border: 1px solid #444;
}


.circular-small{
    background-color: #000; 
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
}

#tag_cloud {
  line-height: 2.2em;
  .s { 
    font-size: 0.7em; 
    @extend .label-success;
  }
  .m { 
    font-size: 0.9em; 
    @extend .label-warning;
  }
  .l { 
    font-size: 1.1em; 
    @extend .label-danger;
  }
}

.course-description{
    min-height: 100px;
}

