<div class="col-md-4 col-md-offset-4 well">
<h2 class="text-center">Change your password</h2>
<hr>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= render 'layouts/error' %>
  <%= f.hidden_field :reset_password_token %>

  <div class="form-group">
    <%= f.label :password, "New password", class: "control-label" %><br />
    <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password", class: "control-label" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password", class: 'btn btn-large btn-block btn-success'  %>
  </div>
<% end %>
<hr>
<h4 class="text-center">Or</h4>
<div class="row actions ">
        <div class="col-md-6 col-md-offset-0 actions">
        <%= link_to "Log in", new_session_path(resource_name), {:class=> 'btn btn-large btn-block btn-default'}%>
      </div>
        <div class="col-md-6 col-md-offset-0">
          <%= link_to "Sign up", new_registration_path(resource_name), {:class=> 'btn btn-large btn-block btn-default'}%>
        </div>
      </div>
      <hr>
<%= render "users/shared/links" %>
